body {
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}
.col {
    color: #256412;
    margin-left: 10px;
}

.pie1 {
    color: white;
}

.nombre {
    text-align: center;
}

.nombre h2 {
    color: #125478;
}

.nombre span {
    color: rgb(116, 196, 144);
}

 

.logo {
    height: 100%;
    text-align: center;
    position: sticky;
    top: 20px;
}


/* galeria*/


/*galeria fotos*/

.pie {
background-color: #333;
color: #fff;
text-align: center;
 padding: 6px;
    margin-top:0px;
 
    
    clear: both;
}

.pie span,
h3 {
    padding:2px;
}


/*projects*/

 
 

#titulo {
    width: 90%;
    height: 400px;
    margin-left: 5%;
    /*background-color: aqua;*/
}

#titulo img {
    object-fit: cover;
    width: 90%;
    height: 400px;
    margin-left: 5%;
}

#titulo h4 {
    color: #256412;
    font-weight: 600;
    margin-left: 30px;
}

.partes {
    width: 90%;
    height: 600px;
    margin-left: 5%;
    margin-top: 2px;
    margin-bottom: 160px;
}

.partes h2 {
    color: #3c3c3c;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

.lawn {
    color: #256412;
    font-weight: 400;
    font-size: 2rem;
    margin-left: 25%;
    
}

.informe {
    display: grid;
    grid-template-columns: 3;
    width: 30%;
    height: 400px;
    margin-left: 2.5%;
    float: left;
    background: rgba(175, 238, 199, 0.2);
    margin-top: 100px;
    border-radius: 0.1cm;
}

h3 {
    color: rgb(13, 12, 12);
    font-size: 1.6rem;
}


/*ombre*/

.span {
    color: #256412;
    font-size: 2rem;
    font-family: cursive;
    text-align: center;
    margin-top: 20px;
}

@media (min-width:360px) and (max-width:430px) {
    #projects .project-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 10px auto;
        overflow: hidden;
        border-radius: 6px;
    }
 
}