body{
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: #154256;
  position: sticky;
  -webkit-sticky: sticky;
  top: 0;
}
.navbar ul{
margin: 0;
padding: 0;
position: relative;
overflow: hidden;
list-style-type: none;
 
}
li{
  float: left;
}
li a{
  text-decoration: none;
  display: block;
  padding: 16px 16px;
  color: #fff;
  font-size: 1.4rem;
 position: relative;
}
li a::after{
position: absolute;
content: "";
width: 0;
left: 100%;
bottom: 0;
height: 3px;
background-color: #fff;
border-radius: 3rem;
transition: widht 0.3s,left 0.3s;
}
li a:hover::after{
  width: 100%;
  left: 0;
  color: #fff;
}